p {
	color: blue;
	}
h1 { 
color: red;
}

.fancy {
	color: purple;
	font-size: 52px;
	text-transform: uppercase;
	text-align: center;
	text-decoration: underlin;
	font-family: "Helvetica";
}

#my-list {
	color: orange;

}