.intro-message {
	text-align: center;
	padding-top: 20%;
	padding-bottom: 10%;
	color: black;
}

body {
	background: url(line.jpg) no-repeat center;
}
.signup-form {
	color: black;
	text-align: center;
}